html,
body {
    background-color: #ffffff;
}

.ol-control button {
    background-color: #f8f8f8 !important;
    color: #000000 !important;
    border-radius: 5px !important;
}

.ol-zoom,
.geolocate,
.gcd-gl-control .ol-control {
    background-color: rgba(255, 255, 255, .4) !important;
    padding: 3px !important;
}

.ol-scale-line {
    background: none !important;
}

.ol-scale-line-inner {
    border: 2px solid #f8f8f8 !important;
    border-top: none !important;
    background: rgba(255, 255, 255, 0.5) !important;
    color: black !important;
}


/* --- */

.search-layer {
    top: 100px;
    left: .5em;
}

.ol-touch .search-layer {
    top: 130px;
}


/* --- */

html,
body,
#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


/* --- */

div#infoBox {
    font-family: 'Chivo', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    bottom: 20px;
    min-width: 30vw;
    max-width: 45vw;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 22px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 22px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    max-height: 90vh;
}

h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 32px;
    word-break: keep-all;
}

h3 {
    color: rgb(30, 30, 30)
}

i.gg-organisation {
    margin-right: 15px;
}

div#infoBox .row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

#population {
    color: #717171;
    margin: 3px 0px;
    font-size: 14px;
}

#population img {
    opacity: .7;
    margin-right: 5px;
}

.number {
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    display: block;
}

.confidenceHigh,
.confidenceLow {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 15px;
}

.data {
    text-align: center;
}

.dataLegend {
    text-align: left;
}

.divValue {
    display: block;
    min-height: 100%;
    max-width: 200px;
    text-align: center;
    background-color: white;
    padding: 0px 20px;
    z-index: 2;
}

section#content {
    margin: 0px 20px 0px 0px;
}

#logos {
    text-align: center;
}

#logos a {
    margin: 10px 10px 0px 0px;
}

#source {
    margin: 10px 0px;
}

#source a {
    margin-left: 10px;
    color: #717171;
    text-decoration: none;
}

#source a:hover {
    margin-left: 10px;
    color: #717171;
    text-decoration: underline;
}

div#note {
    /* color: #717171; */
    color: #dd5a26;
    font-size: 14px;
}

.border {
    transform: translateY(-900%);
    width: 75%;
    border-top: 2px solid black;
    z-index: 1;
    position: relative;
    left: 12%;
}

.confidence {
    margin-top: 30px;
}

.caption {
    margin-bottom: 30px;
}

.zoneName {
    /* text-transform: capitalize; */
}

#disclaimer {
    font-size: 10px;
    margin: 10px 0;
}

.gg-close {
    cursor: pointer;
    margin-left: 10px;
}

.topMargin {
    margin-top: 20px;
}

#legend div {
    padding: 10px 15px;
    margin-top: 10px;
}

#mapToggle {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.btn {
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    border: 2px solid #00a84f;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #00a84f;
}

.btn span {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background .5s ease;
    width: 100%;
    border-radius: 40px;
}

.btn:hover span {
    background: transparent;
}

img.gradient {
    height: 20px;
    width: 100%;
    object-fit: cover;
}

#gcd-input-query {
    width: 350px;
    height: 25px;
    border: none;
    padding: 5px;
}

.gcd-gl-control {
    margin-left: 20px;
}

#gcd-button-control {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 3px;
    top: 4px;
    border-radius: 5px;
    background-color: white !important;
}


/* .gcd-gl-expanded{
    margin: 20px;
    border: 2px solid #dadada;
} */

.geolocate {
    top: none;
    bottom: 40px !important;
    left: 20px;
    width: 30px;
    height: 30px;
}

.geolocate button {
    width: 30px;
    height: 30px;
}

.ol-zoom {
    bottom: 80px !important;
    left: 20px !important;
}

.ol-zoom button {
    width: 30px;
    height: 30px;
}

ul.gcd-gl-result {
    position: relative;
    top: 45px;
    background-color: white;
    width: 320px;
    margin-left: 20px;
    border-radius: 5px;
    list-style-type: none;
}

ul.gcd-gl-result>li {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -40px;
    padding: 10px 0px;
}

ul.gcd-gl-result>li>a {
    text-decoration: none;
    font-size: 14px;
    color: #2c2c2c;
    padding: 0px 10px;
}

ul.gcd-gl-result>li:hover {
    background-color: #e6e6e6;
}

.chevron {
    visibility: hidden;
}

.instruction {
    font-size: 18px !important;
}

@media (min-width: 320px) and (max-width: 710px) {
    div#infoBox {
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        width: 90%;
        max-width: 100%;
        border-radius: 5px 5px 0px 0px;
        -webkit-box-shadow: 5px 5px 0px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 0px -5px rgba(0, 0, 0, 0.3);
    }
    div.invisible {
        display: none;
    }
    div.visible {
        display: block;
    }
    #gcd-input-query {
        width: 90vw;
    }
    .gcd-gl-control {
        margin: 10px;
    }
    .geolocate {
        bottom: 130px !important;
        left: 10px;
        width: 30px;
        height: 30px;
    }
    .geolocate button {
        width: 30px;
        height: 30px;
    }
    .ol-zoom {
        bottom: 170px !important;
        left: 10px !important;
    }
    .chevron {
        visibility: visible;
    }
}

@media (min-width: 250px) and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    div#note {
        font-size: 12px;
    }
    .chevron {
        visibility: visible;
    }
}

[data-tooltip]:hover {
    position: relative;
}

[data-tooltip]:hover::before {
    all: initial;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    background-color: #1a1a1a;
    content: attr(data-tooltip);
    color: #f9f9f9;
    position: absolute;
    bottom: 100%;
    width: 250px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
    z-index: 999;
}

[data-tooltip]:hover::after {
    all: initial;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #1a1a1a;
    position: absolute;
    bottom: 100%;
    content: '';
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 5px;
    z-index: 999;
}

#alert {
    margin-top: 15px;
    margin-left: 10px;
}

.additional {
    margin-top: -15px;
}